

<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="assignments.css">
   <link rel="stylesheet" href="../all.css">
   <meta charset="UTF-8">
   <link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
 integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
 crossorigin="anonymous">
   <title>Assignment Questions</title>
</head>
<body text="black"/>
<!-- create navigation bar ( header) -->
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed"
     data-toggle="collapse" data-target="#navbar" aria-expanded="false"
     aria-controls="navbar">
     <span class="sr-only">Toggle navigation</span> <span
      class="icon-bar"></span> <span class="icon-bar"></span> <span
      class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#" th:href="@{/}">Assignments & ALM's</a>
   </div>
   
  </div>
 </nav>
 <br><br><br>
<h1 align="center"> Cryptanalysis & CyberDefence -- Home Assignment-1</h1>
<br>
<hr>
<br><br>
<p >
    Q1. Describe in detail about Security Concepts, Security Attacks ?
</p>

<p >
    Q2. Explain in about RSA algorithm with example ?
</p>

<p >
    Q3. Write the Steps to crack password using Burp-suite tool ?
</p>

<p >
    Q4. Write the python code for Hill cipher & block cipher techniques ?
</p>
<br><br><br>
<button><a th:href="@{/assignment}">Back to Assignments</a></button>
</html>